@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Root>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = null;
}

<h2>Map 1</h2>
<p>@Model.Map1</p>
<p><b>Zoom:</b> @Model.Map1.Zoom</p>
<p><b>Marker:</b> @Model.Map1.Marker?.Latitude, @Model.Map1.Marker?.Longitude</p>
<p><b>Bounding box:</b> @Model.Map1.BoundingBox.SouthWestCorner.Longitude, @Model.Map1.BoundingBox.SouthWestCorner.Latitude, @Model.Map1.BoundingBox.NorthEastCorner.Longitude, @Model.Map1.BoundingBox.NorthEastCorner.Latitude</p>

<h2>Map 2</h2>
<p>@Model.Map2</p>
<p><b>Zoom:</b> @Model.Map2.Zoom</p>
<p><b>Marker:</b> @Model.Map2.Marker?.Latitude, @Model.Map2.Marker?.Longitude</p>
<p><b>Bounding box:</b> @Model.Map2.BoundingBox.SouthWestCorner.Longitude, @Model.Map2.BoundingBox.SouthWestCorner.Latitude, @Model.Map2.BoundingBox.NorthEastCorner.Longitude, @Model.Map2.BoundingBox.NorthEastCorner.Latitude</p>
